.container{


    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
}
h1{

font-size: 3rem;

}
input{
padding: 10px;
border-radius:20% ;
max-width: 300px;
border :none;
width:100%;
margin-top: 30px;
}
button{

background-color: rgb(235, 134, 11);
border-radius:30% ;
padding: 10px;
cursor: pointer;
color: #fff;
font-weight: bold;

}
button:hover{

   background-color: #9e540f; 
}
p{

color: black;

}
